<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Closet q mata</title>
  <link rel="stylesheet" href="../static/styles/home.css">

      {% block styles %}

  <style>
    .search-bar {
      display: none;
    }
    .search-img {
      max-height: 50px;
      max-width: 50px;
    }
    .search-icon {
      display: inline-block;
      max-height: 50px;
      max-width: 50px;
      margin-right: 10px;
    }

  </style>
  {% endblock %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $(".search-icon").click(function() {
        $(".search-bar").toggle();
      });
    });
    $(window).scroll(function() {
  if ($(window).scrollTop() > 0) {
    $('header').addClass('sticky');
  } else {
    $('header').removeClass('sticky');
  }
});

  </script>
</head>
<body>
  <!-- Header -->
  <header>
    <nav>
      <ul>
        <li><a href="/Menswear">Menswear</a></li>
        <li><a href="/Womenswear">Womenswear</a></li>
        <li><a href="/Items">Items</a></li>
        <li><div class="search-icon">Search</div></li>
              <form class="search-bar" method="post" action="/search">
        <input type="text" name="search_text">
      </form>
      </ul>
    </nav>
    <div class="logo"><a href="/futurehome">Closet q mata'</a></div>
    <div class="user-nav">
      <a href="/login">Login/Sign-Up</a>
      <a href="/cart">Shopping cart</a>
      <a href="/wish">Wishlist</a>
      <a href="/logout">Logout</a>

    </div>
  </header>
  {% block content %}
  {% for item in items %}
    <a href="/info?id={{ item.id }}"><div class="contentbox">
      <div class="imagebox"><img src="{{item.image}}" alt="itemimg" style="max-width:100%; max-height:100%" ></div>
      <h3>{{item.title}}</h3>
      <p>${{ item.price }}</p>
    </div></a>
  {% endfor %}
  {% endblock %}
  <footer>
    <div class="footer-nav">
      <ul>
        <li><a href="/vendor">Vendor Page</a></li>
        <li><a href="/adminlogin">Admin Page</a></li>
        <li><a href="/userorders">Your Orders</a></li>
        <li><a href="/chat">Chat</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
