{% extends "home.html" %}

{% block content %}
    {% if orders %}
        <h1>Your Orders</h1>
        <table>
            <thead>
                <tr>
                    <th>Order Item ID</th>
                    <th>Order ID</th>
                    <th>Product ID</th>
                    <th>Size</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Vendor</th>
                    <th>Status</th>
                    <th>Leave a Review</th>
                    <th> Returns/Refund</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.order_item_id }}</td>
                        <td>{{ order.order_id }}</td>
                        <td>{{ order.product_id }}</td>
                        <td>{{ order.size }}</td>
                        <td>{{ order.price }}</td>
                        <td>{{ order.description }}</td>
                        <td><img src="{{ order.image }}" alt="Product Image" width="100" max-height="auto"></td>
                        <td>{{ order.vendor }}</td>
                        <td>{{ order.status }}</td>
                        <td><a href="/review?product_id={{ order.product_id}}">Leave Review</a></td>
                        <td><a href="/returns?product_id={{ order.product_id }}&amp;order_id={{ order.order_id }}">Unhappy?</a></td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No orders found.</p>
    {% endif %}
{% endblock %}
